<h3 class="login-heading mb-4">Đăng ký</h3>

<form method="post" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
  <div class="error-message">
    <div *ngIf="changePasswordForm.controls['password'].hasError('required') && changePasswordForm.controls['password'].touched">
      Password is required
    </div>
    <div *ngIf="changePasswordForm.controls['password'].hasError('minlength') && changePasswordForm.controls['password'].touched">
      Password must be at least 8 characters
    </div>
  </div>
  <div class="form-floating mb-3">
    <input type="password" class="form-control" id="floatingPassword" formControlName="password" placeholder="Password">
    <label for="floatingPassword">Mật khẩu</label>
  </div>
  <div class="error-message">
    <div *ngIf="changePasswordForm.controls['password_confirmation'].hasError('mustMatch') && changePasswordForm.controls['password_confirmation'].touched">
      Password does not match
    </div>
  </div>
  <div class="form-floating mb-3">
    <input type="password" class="form-control" id="floatingPasswordConfirm" formControlName="password_confirmation" placeholder="Password">
    <label for="floatingPassword">Xác nhận mật khẩu</label>
  </div>

  <div class="d-grid">
    <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit"
            [disabled]="changePasswordForm.invalid">Đăng ký
    </button>
    <div class="text-center">
      <span class="small">Đã nhớ tài khoản? <a routerLink="/accounts/login">Đăng nhập</a></span>
    </div>
  </div>

</form>
