<mat-paginator [length]="total"
               [pageSize]="5"
               [pageSizeOptions]="[5, 10, 25, 100]"
               [showFirstLastButtons]="true"
               (page)="onPageChange($event)"
               aria-label="Select page">
</mat-paginator>
<div class="load" *ngIf="loading;else content">
  <!--  <mat-spinner color="accent"></mat-spinner>-->
  <app-loader></app-loader>
</div>
<ng-template #content>
  <div class="d-flex justify-content-around row">
    <div class="col-4 h-100 mt-3" *ngFor="let post of posts">
      <mat-card class="example-card">
        <div class="d-flex align-items-center">
          <app-avatar [name]="helperService.getAvatarName(post.user.name)" style="padding-bottom: 10px"></app-avatar>
          <mat-card-header class="d-inline-block">
            <mat-card-title>{{ post.user.name }}</mat-card-title>
            <mat-card-subtitle>Fresher</mat-card-subtitle>
          </mat-card-header>
        </div>
        <img mat-card-image [src]="post.image" alt="{{ post.title }}" [routerLink]="post.slug" style="cursor: pointer">
        <div style="min-height: 60px">
          <a matLine class="blog-title" [routerLink]="post.slug">{{ helperService.longName(post.title) }}</a>
        </div>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</ng-template>
