.violet {
  color: aliceblue;
  padding: 15px;
  background-color: #ee82ee;
  border-radius: 50%;
  font-weight: bold;
  letter-spacing: 2px;
}

.small {
  font-size: 0.8em;
  width: 1.5em;
  height: 1.5em;
}

.large {
  font-size: 1.5em;
  width: 2em;
  height: 2em;
}


