<h3 class="login-heading mb-4">Quên mật khẩu</h3>

<form method="post" [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
  <div class="error-message">
    <div *ngIf="forgotPasswordForm.controls['email'].hasError('required') && forgotPasswordForm.controls['email'].touched">
      Email is required
    </div>
    <div *ngIf="forgotPasswordForm.controls['email'].hasError('email') && forgotPasswordForm.controls['email'].touched">
      Email is invalid
    </div>
  </div>
  <div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingInput" formControlName="email" placeholder="name@example.com">
    <label for="floatingInput">Email</label>
  </div>

  <div class="d-grid">
    <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit"
            [disabled]="forgotPasswordForm.invalid">Quên mật khẩu
    </button>
    <div class="text-center">
      <span class="small">Nhớ ra mật khẩu? <a routerLink="/accounts/login">Đăng nhập</a></span>
    </div>
  </div>

</form>
